@charset "UTF-8";

h1{
    font:italic 3em arial, sans-serif;
    text-align: center;
}
h2{ color: chartreuse;
    background-color: black;
    font:normal 2.5em serif;
    text-align:right;
}
p{
    text-align: justify;
    text-indent: 30px;
}