@charset "UTF-8";

body {
    background-color: rgb(205, 50, 50);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
   color: darkblue;
   font-size: 0.7em;
}
h2{
   color: chartreuse;
   background-color: rgb(55, 0, 255);
}